@import "../../assets/css/global.css";

.stores__section {
    margin-bottom: 3rem;
}

.stores {
    background-color: #ffffff;
    padding-left: 0.8rem;
}

.stores__btns {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.stores__btns button {
    border: none;
    padding: .6rem .9rem;
    border-radius: 5px;
    font-weight: 500;
}


.stores__aside {
    display: grid;
    align-items: end;
}

.stores__adress--list {
    align-self: flex-start;
}

.stores__adress--list article {
    display: block;
    padding: .6rem 1.3rem;
    padding-left: 0;
    border-bottom: 1px solid #c8c8c8;
    max-width: 430px;
}

/* GOGGLE MAP */
.stores__map--google {
    width: 100%;
    display: block;
    box-shadow: 0px 1px 3px gray;
}

.active__btn {
    background-color: rgba(131, 51, 236, 255);
    color: #ffffff;
}

.stores__service {
    display: none;
}

@media (min-width: 840px) {
    .stores__aside {
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
    }
}

@media (min-width: 1000px) {
    .stores__aside {
        grid-template-columns: 1fr 2fr;
    }
}