@import "../../css/global.css";

.page__Muqayise {
    padding: 1rem;
}

.arrow-rotate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.1rem 0;
}

.arrow__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.arrow__btns button {
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    padding: .260rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.card__title h6 {
    font-weight: 700;
}

.close__btn--card {
    border: none;
    border-radius: 50%;
    padding: .09rem;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card__price {
    color: var(--main-bg-color);
    font-weight: 600;
    margin-bottom: 1rem;
}
.muqayise__img{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.muqayise__img img {
    width: 150px;
    vertical-align: middle;
    aspect-ratio: 1/1;
    object-fit: contain;
}