/* @import "../../assets/css/global.css"; */

ul {
    padding: 0;
    margin: 0;
}

.type__number--gold {
    color: #FFD700;
}

.type__number--simple {
    color: black;
}

.nomreler {
    background-color: #ffffff;
}

.paddings {
    padding: 1.5rem;
}

.btn-color {
    color: #8434ec;
    text-decoration: underline !important;
}

.buy__btns button {
    padding: 0;
    margin-top: .5rem;
}

.buy__btns--price {
    color: white;
    background-color: #8434ec;
    padding: .3rem;
}

.nomreler form{
    background-color: rgba(238, 238, 238, 255);
}


.nomreler__Validation {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: .4rem;
}

.nomreler__Select {
    grid-column: 1/-1;
}

.nomreler__Inp:nth-child(2) {
    grid-column: 1/3;
}

.nomreler__Inp:nth-child(3) {
    grid-column: 4/6;
}

.nomreler__Inp:nth-child(4) {
    grid-column: 7/-1;
}

.nomreler__Inp:nth-child(5) {
    grid-column: 1/3;
}

.nomreler__Inp:nth-child(6) {
    grid-column: 3/5;
}

.nomreler__Inp:nth-child(7) {
    grid-column: 5/7;
}

.nomreler__Inp:nth-child(8) {
    grid-column: 7/-1;
}

.nomreler__Inp input::-webkit-outer-spin-button,
.nomreler__Inp input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@media screen and (min-width: 576px) {
    .numbers__section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: .5rem;
    }

    .nomreler__Validation {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }

    .nomreler__Select {
        grid-column: 1/3;
    }

    .nomreler__Inp:nth-child(2) {
        grid-column: 3/4;
    }

    .nomreler__Inp:nth-child(3) {
        grid-column: 4/5;
    }

    .nomreler__Inp:nth-child(4) {
        grid-column: 5/6;
    }

    .nomreler__Inp:nth-child(5) {
        grid-column: 6/7;
    }

    .nomreler__Inp:nth-child(6) {
        grid-column: 7/8;
    }

    .nomreler__Inp:nth-child(7) {
        grid-column: 8/9;
    }

    .nomreler__Inp:nth-child(8) {
        grid-column: 9/-1;
    }
}