@media screen and (min-width: 385px) {
    .container {
        width: 95%;
    }

    .nav--burger--logo,
    .nav--tools {
        gap: 1.5rem;
    }

    .foot__section1--title {
        font-size: 1.2rem;
    }

    .section1--qaynarxett h2 {
        font-size: 2rem;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .all__brends {
        grid-template-columns: repeat(3, 1fr);
    }

    .gunun__teklifi {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: start;
    }

    .gunun__teklifi--title {
        margin: 0;
    }

}

@media screen and (min-width: 526px) {

    .row {
        flex-direction: row;
        align-items: center;
    }

    .logo {
        width: 175px;
    }

    .nav__container--alt {
        overflow-x: hidden;
    }

    .service__container {
        grid-template-columns: 1fr 2fr;
    }

    .service__right--side {
        grid-template-columns: repeat(2, 1fr);
    }

    .foot__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .foot__section2 {
        display: block;
    }

    .product__images--big {
        display: flex;
    }

    .right__side--element div:nth-child(2) img {
        position: absolute;
        right: -50px;
        width: 150px;
        display: block;
    }

    .nonloop {
        padding: 1rem 2rem;
    }

    .functional--date ul li {
        padding: 0 16px;
        font-size: 14px;
        line-height: 1;
    }
}

@media screen and (min-width: 938px) {
    .header {
        display: block;
        z-index: 20;
    }

    .logo {
        width: 175px;
    }

    .nav--burger {
        display: none;
    }

    .search__section {
        display: none;
    }

    .menu__alt {
        display: none;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29%;
        margin-left: 12px;
        margin-right: 8px;
    }


    .search__btn {
        cursor: pointer;
        padding: 9px 15px;
        background: var(--btn-bg-color);
        color: #ffffff;
        border: none;
        border-radius: 0 5px 5px 0;
    }

    #searchBtn {
        border-radius: 5px 0 0 5px;
        width: 100%;
        padding: 6px 5px;
        outline: none;
        border: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        font-size: 1rem;
    }

    #searchBtn::placeholder {
        font-size: 12px;
    }

    .nav--tools ul li {
        font-size: 13px;
    }

    .nav--tools ul li span,
    .nav--tools ul li:last-child {
        display: inline;
    }

    .nav--tools ul li:first-child {
        display: none;
    }

    .nav--tools ul li:not(:last-child) {
        padding: 4px 10px;
    }

    .nav--tools ul li:last-child {
        border-right: none;
        border-left: solid 1px #9178b4;
    }

    .nav--tools ul li {
        text-align: center;

    }

    .product--catalog {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: white;
        background-color: #fe006f;
        font-size: 13px;
        padding: 10px;
        border: none;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .product--catalog .text {
        color: white;
        z-index: 2;
    }

    .text i {
        margin-left: 4px;
    }

    .product--catalog span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        background-color: var(--hover-color);
        border-radius: 50%;
        transition: .6s ease;
    }

    button span:nth-child(1) {
        transform: translate(-3.3em, -7em);
    }

    button span:nth-child(2) {
        transform: translate(-6em, 2em);
    }

    button span:nth-child(3) {
        transform: translate(-.2em, 3em);
    }

    button span:nth-child(4) {
        transform: translate(3.5em, 2em);
    }

    button span:nth-child(5) {
        transform: translate(3.5em, -5em);
    }

    .product--catalog:hover span {
        transform: translate(-50%, -50%) scale(4);
        transition: 1.5s ease;
    }

    .service__right--side {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__abune {
        display: flex;
        justify-content: space-between;
    }

    .footer--abune {
        text-align: left;
    }

    .footer__abune--description {
        max-width: 250px;
    }

    .footer__inp {
        margin: 0;
        justify-content: space-between;
        align-items: center;
    }

    .footer__inp--input {
        max-width: unset;
        width: 100%;
    }

    .footer__inp--btn {
        overflow: visible;
    }

    .footer__app {
        align-items: flex-end;
        margin-top: 0;
    }

    .cards {
        grid-template-columns: repeat(5, 1fr);
    }

    .all__brends {
        grid-template-columns: repeat(5, 1fr);
    }

    /* ==================MAİN SLİDERS================ */
    .sliders {
        flex-direction: row;
        justify-content: space-between;
    }

    .ferhad-2 {
        width: 72%;
    }

    .ferhad-2 div img {
        border: solid red 1px;
        object-fit: cover;
    }

    .nonloop {
        width: 27%;
        padding: 0 0.4rem;
    }

    .functional--date ul li {
        padding: 0 10px;
        font-size: 10px;
    }

    /* ==============MAIN>SLIDERS=========== */
    .btn-up {
        bottom: 16px;
    }

    .right__side--element div:nth-child(2) img {
        right: -40px;
        width: 200px;
        top: -10px;
    }

    /* ==================CATALOG VE MENU================= */
    .section__catalog {
        display: none;
    }

    /* ==========================POPUP CATALOG========================  */
    .catalogPopUp {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 4;

        background: rgba(107, 107, 107, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .activePopUp {
        top: 0;
    }

    .activeCatalog {
        top: 130px;
    }

    .gunun__teklifi--title {
        margin: 0;
        display: block;
        text-align: center;
        font-size: 10px;
        padding: 3px 1px;
    }

    .functional--date ul li {
        font-size: 10px;
    }
}

@media screen and (min-width: 1040px) {
    .logo {
        width: 185px;
    }

    .product--catalog {
        font-size: 15px;
    }

    .form {
        width: 33%;
        margin-left: 16px;
        margin-right: 4px;
    }

    .service__right--side {
        grid-template-columns: repeat(3, 1fr);
    }

    .gunun__teklifi--title {
        font-size: 12px;
        padding: 4px 6px;
    }

}


@media screen and (min-width: 1200px) {
    .form {
        width: 41%;
        margin-left: 24px;
        margin-right: 2px;
    }

    .nav--tools {
        width: 280px;
    }


    /* ================COLLECTIONS=============== */
    .sutun-2 {
        grid-template-columns: 4fr 4fr 1fr;
    }

    .prodImg {
        width: unset;
    }

    .sutun-samsung-2 {
        /* grid-template-columns: 100px 400px 400px; */
        grid-template-columns: 1fr 4fr 4fr;
    }

    .gunun__teklifi--title {
        font-size: 16px;
    }

    .item__info--title {
        margin-top: 1rem;
    }

    .nonloop__item {
        padding: 1rem;
    }

    .functional--date ul li {
        padding: 0 10px;
        font-size: 12px;
        line-height: 1;
    }

    .ferhad-2 img {
        min-height: 430px;
        /* object-fit: cover; */
    }

}

@media screen and (min-width: 1400px) {
    .form {
        width: 49%;
    }


    .item__info--title {
        margin-top: 2rem;
    }

    .gunun__teklifi--title {
        font-size: 18px;
    }

    .functional--date ul li {
        padding: 0 12px;
    }

}