@media screen and (min-width: 385px) {
    .container {
        width: 95%;
    }

    .nav--burger--logo,
    .nav--tools {
        gap: 1.5rem;
    }
}

@media screen and (min-width: 526px) {

    .row {
        flex-direction: row;
        align-items: center;
    }

    .logo {
        width: 175px;
    }

    .nav__container--alt {
        overflow-x: hidden;
    }
}

@media screen and (min-width: 938px) {
    .header {
        display: block;
    }

    .logo {
        width: 175px;
    }

    .nav--burger {
        display: none;
    }

    .menu__alt {
        display: none;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        /* max-width: 50%; */
        width: 31%;
    }


    .search__btn {
        cursor: pointer;
        padding: 10px 15px;
        background: var(--btn-bg-color);
        color: #ffffff;
        border: none;
        border-radius: 0 5px 5px 0;
    }

    #searchBtn {
        border-radius: 5px 0 0 5px;
        width: 100%;
        padding: 8px 5px;
        outline: none;
        border: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        font-size: 1rem;
    }

    #searchBtn::placeholder {
        font-size: 12px;
    }

    .nav--tools ul li span,
    .nav--tools ul li:last-child {
        display: inline;
    }

    .nav--tools ul li:first-child {
        display: none;
    }

    .nav--tools ul li:not(:last-child) {
        padding: 5px 12px;
    }

    .nav--tools ul li:last-child {
        border-right: none;
        border-left: solid 1px grey;
    }

    .nav--tools ul li {
        text-align: center;

    }

    .product--catalog {
        display: flex;
        align-items: center;
    }


    .product--catalog {
        font-weight: bold;
        color: white;
        background-color: #fe006f;
        padding: 10px;
        border: none;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .product--catalog .text {
        color: white;
        z-index: 2;
    }

    .text i {
        margin-left: 4px;
    }

    .product--catalog span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        background-color: var(--hover-color);
        border-radius: 50%;
        transition: .6s ease;
    }

    button span:nth-child(1) {
        transform: translate(-3.3em, -7em);
    }

    button span:nth-child(2) {
        transform: translate(-6em, 2em);
    }

    button span:nth-child(3) {
        transform: translate(-.2em, 3em);
    }

    button span:nth-child(4) {
        transform: translate(3.5em, 2em);
    }

    button span:nth-child(5) {
        transform: translate(3.5em, -5em);
    }

    .product--catalog:hover span {
        transform: translate(-50%, -50%) scale(4);
        transition: 1.5s ease;
    }
}

@media screen and (min-width: 1120px) {
    .logo {
        width: 185px;
    }

    .form {
        width: 42%;
        /* 500px/1200 */
        max-width: none;
    }
}