@media screen and (min-width: 385px) {
    .container {
        width: 95%;
    }

    .nav--burger--logo,
    .nav--tools {
        gap: 1.5rem;
    }

    .foot__section1--title {
        font-size: 1.2rem;
    }

    .section1--qaynarxett h2 {
        font-size: 2rem;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .all__brends {
        grid-template-columns: repeat(3, 1fr);
    }

    .gunun__teklifi {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (min-width: 526px) {

    .row {
        flex-direction: row;
        align-items: center;
    }

    .logo {
        width: 175px;
    }

    .nav__container--alt {
        overflow-x: hidden;
    }

    .service__container {
        grid-template-columns: 1fr 2fr;
    }

    .service__right--side {
        grid-template-columns: repeat(2, 1fr);
    }

    .foot__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .foot__section2 {
        display: block;
    }

    .product__images--big {
        display: flex;
    }
}

@media screen and (min-width: 938px) {
    .header {
        display: block;
    }

    .logo {
        width: 175px;
    }

    .nav--burger {
        display: none;
    }

    .search__section {
        display: none;
    }

    .menu__alt {
        display: none;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        /* max-width: 50%; */
        width: 31%;
    }


    .search__btn {
        cursor: pointer;
        padding: 10px 15px;
        background: var(--btn-bg-color);
        color: #ffffff;
        border: none;
        border-radius: 0 5px 5px 0;
    }

    #searchBtn {
        border-radius: 5px 0 0 5px;
        width: 100%;
        padding: 8px 5px;
        outline: none;
        border: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        font-size: 1rem;
    }

    #searchBtn::placeholder {
        font-size: 12px;
    }

    .nav--tools ul li {
        font-size: 13px;
    }

    .nav--tools ul li span,
    .nav--tools ul li:last-child {
        display: inline;
    }

    .nav--tools ul li:first-child {
        display: none;
    }

    .nav--tools ul li:not(:last-child) {
        padding: 4px 10px;
    }

    .nav--tools ul li:last-child {
        border-right: none;
        border-left: solid 1px #9178b4;
    }

    .nav--tools ul li {
        text-align: center;

    }

    .product--catalog {
        display: flex;
        align-items: center;
    }


    .product--catalog {
        font-weight: bold;
        color: white;
        background-color: #fe006f;
        padding: 10px;
        border: none;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .product--catalog .text {
        color: white;
        z-index: 2;
    }

    .text i {
        margin-left: 4px;
    }

    .product--catalog span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        background-color: var(--hover-color);
        border-radius: 50%;
        transition: .6s ease;
    }

    button span:nth-child(1) {
        transform: translate(-3.3em, -7em);
    }

    button span:nth-child(2) {
        transform: translate(-6em, 2em);
    }

    button span:nth-child(3) {
        transform: translate(-.2em, 3em);
    }

    button span:nth-child(4) {
        transform: translate(3.5em, 2em);
    }

    button span:nth-child(5) {
        transform: translate(3.5em, -5em);
    }

    .product--catalog:hover span {
        transform: translate(-50%, -50%) scale(4);
        transition: 1.5s ease;
    }

    .service__right--side {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__abune {
        display: flex;
        justify-content: space-between;
    }

    .footer--abune {
        text-align: left;
    }

    .footer__abune--description {
        max-width: 250px;
    }

    .footer__inp {
        margin: 0;
        justify-content: space-between;
        align-items: center;
    }

    .footer__inp--input {
        max-width: unset;
        width: 100%;
    }

    .footer__inp--btn {
        overflow: visible;
    }

    .footer__app {
        align-items: flex-end;
        margin-top: 0;
    }

    .cards {
        grid-template-columns: repeat(5, 1fr);
    }

    .all__brends {
        grid-template-columns: repeat(5, 1fr);
    }

    /* ==================MAİN SLİDERS================ */
    .sliders {
        flex-direction: row;
        justify-content: space-between;
    }

    .ferhad-2 {
        width: 72% !important;
    }

    .nonloop {
        width: 27% !important;
    }

    .nonloop .item {
        padding: 1rem 10px;
    }

    .functional--date ul li {
        padding: 0 10px;
    }

    /* ==============MAIN>SLIDERS=========== */
    .ferhad-2 .item img {
        height: 400px;
    }

    .nonloop .item img {
        margin: 1rem 0 2rem;
        height: 195px;
    }


}

@media screen and (min-width: 1120px) {
    .logo {
        width: 185px;
    }

    .form {
        width: 42%;
        max-width: none;
    }

    .service__right--side {
        grid-template-columns: repeat(3, 1fr);
    }
}