.form__header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form__header h1 {
    text-transform: uppercase;
    font-size: 16px;
}

.basket__form{
    margin-bottom: 1.4rem;
}


@media screen and (min-width: 416px) {
    .form__header {
        gap: 18px;
    }
    .form__header h1 {
        font-size: 24px;
    }
}